{% extends "base.html" %}

{% block title %}
Signup
{% endblock title %}


{% block main %}
<div>
    <h1>Signup</h1>
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button>Signup</button>
    </form>
</div>
{% endblock main %}
