{% extends "base.html" %}

{% block main %}
<h1>My Categories</h1>
{% if accounts %}
<table>
    <thead>
        <tr>Name</tr>
        <tr>Number</tr>
        <tr>Number of receipts</tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account.receipts.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock main %}
