{% extends "base.html" %}

{% block main %}
<h1>My Categories</h1>
{% if categorys %}
<table>
    <thead>
        <tr>Name</tr>
        <tr>Number of receipts</tr>
    </thead>
    <tbody>
        {% for category in categorys %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.receipts.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock main %}
