{% extends "base.html" %}

{% block main %}
<h1>My Receipts</h1>
{% if receipts %}
<table>
    <thead>
        <tr>Vendor</tr>
        <tr>Total</tr>
        <tr>Tax</tr>
        <tr>Date</tr>
        <tr>Category</tr>
        <tr>Account</tr>
    </thead>
    <tbody>
        {% for receipt in receipts %}
        <tr>
            <td>{{ receipt.vendor }}</td>
            <td>{{ receipt.total }}</td>
            <td>{{ receipt.tax }}</td>
            <td>{{ receipt.date|date:"m/d/y" }}</td>
            <td>{{ receipt.category.name }}</td>
            <td>{{ receipt.account.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock main %}
